.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.menu__item{
  font-family: "Monda", sans-serif;
  padding: 0 13px;
}
.main-content__subtitle{
  font-family: "Monda", sans-serif;
}
.main-content__title{
  font-family: "Abril Fatface", cursive;
}
.main-content__button{
  font-family: "Noto Sans KR", sans-serif;
}
.wrapper{
  width: 80%;
  margin: auto;
}
body{
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
}
.header,.main-section{
}
.logo,.menu{
  display: inline-block;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item:last-child{
  padding-right: 0;
}
