@media (min-width: 280px) and (max-width: 768px) {
  /* от телефонов до айпадов, + потом нужно сделать меню-бургер*/
  .wrapper{
    width: 87%;
    margin: auto;
  }
  body{
    margin: 0;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .menu{
    display: none;
    align-items: center;
    margin-right: 13px;
  }
  .logo{
    visibility: hidden;
    display: inline-block;
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font-family: "pt_serif";
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    font-style: normal;
  }
  .logo__circle{
    visibility: visible;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
  }
  .logo__circle_color_blue{
    visibility: visible;
    left: 8px;
    top: 56%;
    background: #C8DBFB;
  }
  .logo__circle_color_dark-blue{
    visibility: visible;
    background: #0056EC;
  }
  .menu__item{
    position: relative;
    margin-right: 26px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    transition: opacity .5s;
  }
  .menu__item:after{
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width .5s;;
  }
  .menu__item:hover:after{
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s;
  }
  .menu__item:hover{
    opacity: 0.5;
  }
  .menu__item:hover:after, .menu__item_active:after{
    opacity: 1;
    width: 100%;
  }
  .menu__item:last-child{
    margin-right: 0;
  }
  .main{
    padding: 299px 0 0 0;
    background: top center no-repeat url(img/frame.svg);
    background-size: 86%;
  }
  .main__title{
    font-family: 'pt_serif';
    font-size: 30px;
    line-height: 39.75px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 0 0 32px 0;
  }
  .main__subtitle{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0 0 39px 0;
  }
  .main__button{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 25px 13px 16px;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
  }
  .main__button:hover{
    opacity: .5;
  }
  .main__title-text_highlight{
    background: #ECF3FF;
  }
}
@media (min-width: 1024px) {
/*тут всё по макету 1024 для экранов от 1024 до 1366*/
.wrapper{
  width: 91%;
  margin: auto;
}
body{
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px; /*Это расстояние от верха страницы до картинки минус высота контента header*/
}
.logo,.menu{
  display: inline-block;
}
.menu{
  display: flex;
  align-items: center;
}
.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font-family: "pt_serif";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16.5px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;;
}
.menu__item:hover:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}
.menu__item:last-child{
  margin-right: 0;
}
.main{
  padding: 0 53% 250px 0;
  background: top right no-repeat url(img/frame.svg);
  background-size: 55%;
}
.main__title{
  font-family: 'pt_serif';
  font-size: 50px;
  line-height: 66px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 40px 0;
  padding-top: 17px;  /*Это расстояние от верха страницы до заголовка минус высота контента header минус padding блока header, итого 212-112-83=17*/
}
.main__subtitle{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 500;
  font-style: normal;
  padding-right: 90px;
  margin: 0 0 55px 0;
}
.main__button{
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16.5px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  padding: 14px 25px 13px 16px;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
}
@media (min-width: 1366px) {
/*тут всё по макету 1366 для экранов от 1366 до 1920*/
.wrapper{
  width: 68%;
  margin: auto;
}
body{
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
  /*Это расстояние от верха страницы до картинки минус высота контента header, итого 195-112=83*/
}
.logo,.menu{
  display: inline-block;
}
.menu{
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font-family: "pt_serif";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;;
}
.menu__item:hover:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}
.menu__item:last-child{
  margin-right: 0;
}
.main{
  padding: 0 53% 250px 0;
  background: top right no-repeat url(img/frame.svg);
  background-size: 55%;
}
.main__title{
  font-family: 'pt_serif';
  font-size: 50px;
  line-height: 66.25px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 40px 0;
  padding-top: 17px;
  /*Это расстояние от верха страницы до заголовка минус высота контента header минус padding блока header, итого 212-112-83=17*/
}
.main__subtitle{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 500;
  font-style: normal;
  padding-right: 90px;
  margin: 0 0 55px 0;
}
.main__button{
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  padding: 14px 25px 13px 16px;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
}
@media (min-width: 1920px) {
/*тут всё по макету 1920 для экранов от 1920 до бесконечности*/
.wrapper{
  width: 80%;
  margin: auto;
}
body{
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 132px; /*Это расстояние от верха страницы до картинки минус высота контента header, итого 242-110=132*/
}
.logo,.menu{
  display: inline-block;
}
.menu{
  display: flex;
  align-items: center;
  margin-right: 13px;
}
.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font-family: "pt_serif";
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  font-style: normal;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;;
}
.menu__item:hover:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}
.menu__item:last-child{
  margin-right: 0;
}
.main{
  padding: 0 63% 250px 0;
  background: top right no-repeat url(img/frame.svg);
}
.main__title{
  font-family: 'pt_serif';
  font-size: 66px;
  line-height: 87px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 36px 0;
  padding-top: 76px;  /*Это расстояние от верха страницы до заголовка минус высота контента header минус padding блока header, итого 318-110-132=76*/
}
.main__subtitle{
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  padding-right: 90px;
  margin: 0 0 59px 0; /*59, а не 41, т.к. 41 - это расстояние от подзаголовка до края кнопки,
  а мы здесь указываем расстояние от подзаголовка до текста, а это 59 по макету для экрана 1920*/
}
.main__button{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  padding: 18px 40px 24px 21px; 
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
}
